@using SignalSystem.Libs;
@using SignalSystem.Models;
@using SignalSystemApp.Models.TelephoneUser
@using SignalSystemApp.Views.Classes;

@{
    string message = string.Empty;

    string formActionSearch = UtilityLibrary.GetBaseURL() + "TelephoneRequest/SearchRequestNewForm";
    string formActionSubmitNewReqest = UtilityLibrary.GetBaseURL() + "TelephoneRequest/AddNewRequest";
    if (ViewData["Message"] != null) {

        if (ViewData["Message"].ToString().Contains("Error"))
        {
            message = "<div class=\"alert alert-dismissible alert-danger\" style=\"color: green;\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }
        else
        {
            message = "<div class=\"alert alert-dismissible alert-success\" style=\"color: black;;\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }

    }

    List<Dictionary<string, string>> reqTypes = FrameworkItems.GetTelephoneRequestTypes();    
    string optionsReq = string.Empty;
    foreach (Dictionary<string, string> req in reqTypes)
    {
        optionsReq += "<option value=\"" + req["ID"] + "\">" + req["Value"] + "</option>";
    }

    

    string BANumberID = string.Empty;
    string BANumber = string.Empty;
    string FullName = string.Empty;
    string AddressType = string.Empty;
    string Rank = string.Empty;
    string Address = string.Empty;
    string ConnectionType = string.Empty;
    string RequestType = string.Empty;

    if (ViewData["UserInfo"] != null)
    {
        TelephoneUserInfo aInfo = (TelephoneUserInfo)ViewData["UserInfo"] ;
        BANumber = aInfo.BANumber;
        FullName = aInfo.FullName;
        Rank = aInfo.RankID;
        BANumberID = aInfo.Id.ToString();

    }
    if (ViewData["AddressType"] != null)
    {
        AddressType = ViewData["AddressType"].ToString();
    }
    if (ViewData["Address"] != null)
    {
        Address = ViewData["Address"].ToString();
    }
    if (ViewData["ConnectionType"] != null)
    {
        ConnectionType = ViewData["ConnectionType"].ToString();
    }
    if (ViewData["RequestType"] != null)
    {
        RequestType = ViewData["RequestType"].ToString();
    }

    string optionNumbers = string.Empty;

    if (RequestType.Trim().Length != 0)
    {
        List<Dictionary<string, string>> aList = (List<Dictionary<string, string>>) ViewData["AvailableNumbers"];

        optionNumbers += "<div class=\"row\">" +

                         "<div class=\"col-md-2\">" +
                         "<label>Phone Number :</label>" +
                         "</div>" +
                         "<div class=\"col-md-3\">" +
                         "<select class=\"form-control\" name=\"PhoneNumber\" width=\"50px;\">"; 
                        
        if (ViewData["AvailableNumbers"] != null)
        {

            foreach (Dictionary<string, string> dictionary in aList)
            {
                optionNumbers += "<option value=\"" + dictionary["ID"] + "\">" + dictionary["Value"] + "</option>";
            }

        }
        optionNumbers += "</select>" +
                         "</div>" +
                         "</div><br>";
    }
   


}


<div id="page-wrapper">
<div class="row">
    <div class="col-lg-12">
        <h1>Add Request <small>Search BA Number and Add Request</small>
        </h1>
    </div>
</div>
<div class="row">
        @Html.Raw(message)
    </div>
<div class="row">
    <form method="post" action="@formActionSearch">
        <div class="col-lg-2">
            <input type="text" class="form-control" id="search" placeholder="Search BA Number" name="BANumberSearch">
        </div>
        <div class="row">
            <div class="col-md-3">
               <select class="form-control" name="ReqType" width="200px" id="reqType">
                    <option>--Request Type--</option>
                    @Html.Raw(optionsReq)
                    </select>
            </div> 
               <div>
                <label for="ConnectionType" class="col-md-1">
                    Connection Type:
                </label>
                <div class="col-md-1">
                    <label class="radio">
                        <input type="radio" name="ConnectionType" id="Army" value="Army" checked>
                        Army
                    </label>
                    <label class="radio">
                        <input type="radio" name="ConnectionType" id="BTCL" value="BTCL">
                        BTCL
                    </label>
                </div>
            </div>

            <div>
                <label for="AddressType" class="col-md-1">
                    Address Type:
                </label>
                <div class="col-md-1">
                    <label class="radio">
                        <input type="radio" name="AddressType" id="Office" value="Office" checked>
                        Office
                    </label>
                    <label class="radio">
                        <input type="radio" name="AddressType" id="Home" value="Home">
                        Home
                    </label>
                </div>
            </div>


            <div class="col-lg-2">
                <input type="submit" class="btn btn-info btn-block" value="Submit"><br>
            </div>
        </div>
    </form> 
</div>
<div class="row">
    <div class="col-lg-12">
        <div>
          
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-left: -190px;"><i class="fa fa-bar-chart-o"></i> Add Request for BA Number: </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="@formActionSubmitNewReqest">
                    <div id="shieldui-grid1">
                        <div class="row">
                            <div class="col-md-2">
                                <label>BA Number:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="BANumber" name="BANumber" value="@BANumber" readonly><br>
                                <input type="hidden" class="form-control" id="BANumber" name="BANumberID" value="@BANumberID" readonly><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Name:&nbsp</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="FullName" name="FullName" value="@FullName" readonly><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">                                                                   
                                <label>Application Number:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="application-number" placeholder="Enter Application Number" name="ApplicationNumber" required><br>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2">
                                <label>Request Type:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="RequestType" name="RequestType" value="@RequestType" readonly><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Connection Type:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="ConnectionType" name="ConnectionType" value="@ConnectionType" readonly><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Address Type:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="AddressType" name="AddressType" value="@AddressType" name="AddressType" readonly><br>
                            </div>
                        </div>

                        @Html.Raw(optionNumbers)
                       
                        
                        <div class="row">
                            <div class="col-md-2">
                                <label>Rank:&nbsp</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Rank" name="Rank" value="@Rank" readonly><br>
                            </div>
                        </div>
                       @* <label>Current Address:&nbsp</label> <br>*@
                        <label>Address:&nbsp</label><br>
                        <textarea class="form-control" id="address" name="Address" >@Address</textarea><br>
                        <label> Date:</label><br>
                        <label>Comment/Remarks:</label><br>
                        <textarea class="form-control" id="complain" name="Comment"></textarea><br>
                        <input type="submit" class="btn btn-info btn-block" id="" value="Submit Request">
                    </div>
                  </form>

<!--Add Request Type Modal statrs-->
                <form id="delete-form" class="myModals" method="POST" action="" onsubmit="">
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Request Type</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Request Type</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" id="addRank" name="rank" />

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" class=" col-xs-4 btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class=" col-xs-5 btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
<!--Add Request Type Modal ends-->

<!--Add Connection Type Modal statrs-->
                <form id="delete-form" class="myModals" method="POST" action="" onsubmit="">
                    <div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Connection Type</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Connection Type</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" id="addRank" name="rank" />

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" class=" col-xs-4 btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class=" col-xs-5 btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
<!--Add Connection Type Modal ends-->

<!--Add Address Type Modal statrs-->
                <form id="delete-form" class="myModals" method="POST" action="" onsubmit="">
                    <div class="modal fade" id="addModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Address Type</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Address Type</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" id="addRank" name="rank" />

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" class=" col-xs-4 btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class=" col-xs-5 btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
<!--Add Address Type Modal ends-->


            </div>
        </div>
    </div>
</div>
</div>

<script>
    $("#reqType").on("change", function () {
        //alert(jQuery("#reqType option:selected").val());
        if ("--Request Type--" == jQuery("#reqType option:selected").val()) {

        }
        //$("#rankID").val(jQuery("#rank option:selected").val());
    });

</script>
