@using SignalSystem.Libs

@{
    List<Dictionary<string, string>> pendingComplains = new List<Dictionary<string, string>>();
    if (ViewData["PendingComplains"] != null)
    {
        pendingComplains = (List<Dictionary<string, string>>)ViewData["PendingComplains"];
    }

    string pendingList = string.Empty;
    string deleteAction = UtilityLibrary.GetBaseURL() + "Telephone/DeleteSingleComplainData";
    string editAction = UtilityLibrary.GetBaseURL() + "Telephone/EditSingleComplainData";
    string testAction = UtilityLibrary.GetBaseURL() + "Telephone/DataProviderAction";
    
}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">	 
			<h1>Pending Complains <small>List of Complains</small>
            </h1>
        </div>
       
    </div>

    <div class="row">
        <div id="table-container-div"> @*<div class="col-lg-12">*@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-left: -190px;">
                <i class="fa fa-bar-chart-o"></i> Pending Complains
            </h3>
        </div>
        <div class="panel-body">

            <div>
@*Search filter starts*@              
<div class="row">
<div class="col-xs-2">
<button class="btn btn-info" onclick="$('#filter').toggle();">Show/Hide filters</button>
</div>
</div>
<div id="filter" style="display: none">
    <div class="row">
                    <div class="col-xs-2">
                    <br>      <input type="button" value="Export to Excel" style="color: green;" id="ExportExcelButton">
                        </div>
    <div class="col-xs-2">                
       <br> <div id="externalContainer"></div>
    </div>
    </div><br>
    
    <div class="row">
        <div class="col-xs-2">
            <div id="selectBANumber"></div>
    </div>
    <div class="col-xs-2">
            <div id="searchName"></div>
    </div>
    <div class="col-xs-2">
            <div id="selectRank"></div>
    </div>
    <div class="col-xs-2">
            <div id="searchPhone"></div>
    </div>
    <div class="col-xs-2">
        <div id="complainType"></div>
    </div>
    </div></br>
    <div class="row">
        <div class="col-xs-5">
            <label>Search by Complain Date:</label><div id="complainDate"></div>
        </div>
    </div><br>
</div>
              
@*Search filter ends*@



                <table id="mytestDatatable" name="entrymytestDatatables_table"  border="1" class="table table-condensed table-striped ">


                    <thead>
                        <tr>

                            <th class="col-sm-1">BA Number</th>
                            <th class="col-sm-1">Name</th>
                            <th class="col-sm-1">Rank</th>
                            <th class="col-sm-1">Phone</th>
                            <th class="col-sm-2">Complain Date</th>
                            <th class="col-sm-1">Complain Type</th>
                            <th class ="col-sm-1">Click to Resolve</th>
                            <th class="col-sm-1">Delete</th>


</tr>
                    </thead>
                    <tbody></tbody>
                    @*<tfoot>
                            <tr>

                                <th>Company name</th>
                                <th>Town</th>
                                <th>Date Created</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>*@

                </table>
                @*<label>Total Pending Complains: @pendingComplains.Count</label>*@
            </div>

        </div>
    </div>
</div>
    </div>
</div>








<!-- Modal -->
<form id="delete-form" class="myModals" method="POST" action="@deleteAction" onsubmit="if(!confirm('Do you want to Delete This Entry?')){return false;}">
    <div class="modal fade" id="myDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Complain</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">ID</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainId" name="deleteComplainId" readonly="readonly" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">BANumber</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainBANumber" name="complain_BANumber" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainName" name="complain_Name" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-4 control-label">ComplainType</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainType" name="complain_Type" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-4 control-label">PhoneNumber</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainPhoneNumber" name="complain_PhoneNumber" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-4 control-label">Rank</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainRank" name="complain_Rank" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-4 control-label">Description</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="deleteComplainDescription" name="complain_Description" disabled="disabled" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class=" col-xs-4 btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class=" col-xs-5 btn btn-primary">Delete Complain</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="edit-form" class="myModals" method="POST" action="@editAction">
    <div class="modal fade" id="myEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">Edit Complain</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">ID</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="ComplainId" name="ComplainId" readonly="readonly" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">BANumber</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="BANumber" name="BANumber" readonly="readonly" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="Name" name="Name" readonly="readonly"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Rank</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="Rank" name="Rank" readonly="readonly"/>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Phone Number</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" id="NewPhoneNumber" name="NewPhoneNumber" readonly="readonly" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Complain Type</label>
                        <div class="col-xs-5">
                            <select class="form-control" id="ComplainType" name="ComplainType">
                                <option value="" selected>Select Type</option>
                                
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Problem Description</label>
                        <div class="col-xs-5">

                            <textarea class="form-control" id="Description" name="Description"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Status</label>
                        <div class="selectStatus col-xs-5">



                            <select class="form-control" id="Status" name="Status">
                                <option value="0" selected="selected">Pending</option>
                                @* Place for putting Resolver user role codes *@
                                <option value="1">Resolved</option>

                            </select>

                        </div>
                    </div>



                    <div class="form-group" id="resolveDiv" style="display: none">
                        <label class="col-xs-4 control-label">Resolve Description</label>
                        <div class="col-xs-5">

                            <textarea class="form-control" id="ActionTaken" name="ActionTaken"></textarea>

                        </div>

                        <label class="col-xs-4 control-label">Resolve Time</label>
                        <div class="col-xs-5">

                            <input type="text" class="form-control" id="ResolvedDate" name="ResolvedDate" />

                        </div>

                        <label class="col-xs-4 control-label">Remarks</label>
                        <div class="col-xs-5">

                            <textarea class="form-control" id="Remarks" name="Remarks"></textarea>

                        </div>

                      



                    </div>








                </div>


                
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class=" col-xs-4 btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="editResolveBtn" class=" col-xs-5 btn btn-primary"><span id="aSapn2">Edit Complain</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

@section head{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.yadcf.js"></script>

}


<style>

    .myModals div {
        padding-bottom: 10px;
    }

    .paginate_button {
        background: lightblue;
    }

    .dataTables_length {
        background: whitesmoke;
    }

    .dataTables_filter {
        background: whitesmoke;
    }

    #yadcf-filter--reportTable-1 {
        width: 25px !important;
        max-width: 25px !important;
    }

    #yadcf-filter--mytestDatatable-1 {
        width: 105px !important;
        max-width: 105px !important;
    }

    #yadcf-filter--mytestDatatable-0 {
        width: 120px !important;
        max-width: 120px !important;
    }

    #yadcf-filter--mytestDatatable-2 {
        width: 120px !important;
        max-width: 120px !important;
    }

    #yadcf-filter--mytestDatatable-3 {
        width: 110px !important;
        max-width: 110px !important;
    }

    #yadcf-filter--mytestDatatable-5 {
        width: 120px !important;
        max-width: 110px !important;
    }

    .yadcf-filter-range-date-seperator {
        width: 20px !important;
    }

    #mytestDatatable_length select {
        background: green;
    }

    #mytestDatatable_length {
        background: #222222;
        color: white;
        padding-top:10px;
    }

    #mytestDatatable_filter {
        background: #222222;
        color: black;
    }

</style>


<script>


    $(document).ready(function () {

        function refresh() {
           
                window.location.reload(true);
         
        }
        //setTimeout("refresh()", 30000);
        //setTimeout(refresh(), 30000);
        // setInterval(page_refresh,30000);
        setInterval(function () { window.location.reload(true); }, 60000);
        $.datepicker.regional[""].dateFormat = 'dd/mm/yy';
        $.datepicker.setDefaults($.datepicker.regional['']);
        $.datepicker.setDefaults({
           
            buttonImageOnly: true,
            buttonImage: 'calendar.gif',
            changeMonth: true,
            changeYear: true,
            yearRange: '1900:3000',
           
            
            showWeek: true,
            weekHeader: "Wk",
            autoSize:true
           
           
        });
    
        var datepickerDefaults = {
            showTodayButton: true,
            showClear: true
        };

        var oTable = $('#mytestDatatable').dataTable({
            //"pagingType": "full_numbers",
            //"sDom": "Tfrtip",
            // "aaSorting": [], // Prevent initial sorting
            "order": [[4, "desc"]],
            "sAjaxSource": '@Url.Action("DataProviderAction","Telephone")',//"/Telephone/DataProviderAction",
            //"fnServerData": function (sSource, aoData, fnCallback) {
            //    aoData.push({ "name": "roleId", "value": "admin" });},
            "bLengthChange": true,
            dom: 'l<>Bfrtip',
            "bServerSide":true,
            "fnRowCallback":
                function (nRow, aData, iDisplayIndex) {

                  
                    $('td:eq(6)', nRow).html('<button complain_id=' + aData[8] + ' type="button" data-toggle="modal" data-target="#myEdit" name="editEntry" class="editEntry btn btn-xs btn-success"><span class="glyphicon glyphicon-check"></span></button>');
                    $('td:eq(7)', nRow).html('<button complain_id=' + aData[8] + ' type="button" data-toggle="modal" data-target="#myDelete" name="deleteEntry" class=" deleteEntry btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>');

                    return nRow;
                },
            //   "columnDefs": [
            //{
            //    "targets": [8],
            //    "visible": false,
            //    "searchable": false
            //}
            //   ]
          
            
            
        });
       

        $('#mytestDatatable_filter input').unbind();
        $('#mytestDatatable_filter input').bind('keyup', function (e) {
            if (e.keyCode == 13) {
                oTable.fnFilter(this.value);
            }
        });

        oTable.yadcf([
                        {
                            column_number: 0,
                            filter_container_id: "selectBANumber",
                            filter_default_label: "Select BA"

                        },
                         {
                             column_number: 1,
                             filter_type: "text",
                             filter_default_label: "Search Name",
                             filter_container_id: "searchName"
                         },
                        {
                            column_number: 2,
                            filter_type: "select",
                            filter_default_label: "Select Rank",
                            filter_container_id: "selectRank"

                        },
                        {
                            column_number: 3,
                            filter_type: "text",
                            filter_default_label: "Search Phone",
                            filter_container_id: "searchPhone"
                        },
                        {
                            column_number: 4,
                            filter_type: "range_date",
                            //datepicker_type: 'bootstrap-datetimepicker',
                            date_format: "mm/dd/yyyy",
                            //filter_plugin_options: datepickerDefaults,
                            filter_delay: 500,
                            filter_container_id: "complainDate"
                        },
                       
                        {
                            column_number: 5,
                            filter_type: "select",
                            filter_container_id: "complainType",
                            filter_default_label: "Complain"

                        },
                        {
                            column_number: 6,
                            //filter_type: "select",
                            data: ["Last 12 Hour Data", "Last 24 Hour Data"],
                            filter_default_label: "Select Hourly Data",
                            filter_container_id: "externalContainer"
                        }
        ]);

        $('#min, #max').keyup(function () {
            oTable.draw();
        });
       


        $('.yadcf-filter-reset-button').text('').append("<span class=\"glyphicon glyphicon-refresh\"></span>").addClass("btn-success").attr('title', 'Reset Filter').attr('data-toggle', 'tooltip').tooltip();


        $().tooltip({
            template: '<div class="tooltip CUSTOM-CLASS"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
        });


        $(".yadcf-filter").css('background', 'black');
        $(".yadcf-filter-range-date").css('background', 'black');
        $(".yadcf-filter-range-date").css('font', 'bold');

        //  $('.deleteEntry').on('click', function () {
        $(document).on('click', '.deleteEntry', function () {
            
            var Complain_id = $(this).attr('complain_id').trim();

            var myData = ({ "id": Complain_id });





            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSingleComplainData", "Telephone")',
                contentType: "application/json; charset=utf-8",
            data: JSON.stringify(myData),
            dataType: 'json',

            success: function (returnData) {



                $.each(returnData, function (index, value) {
                  
                    $("#deleteComplainId").val(value.ComplainId);
                    $("#deleteComplainBANumber").val(value.BANumber);
                    $("#deleteComplainName").val(value.Name);
                    $("#deleteComplainType").val(value.ComplainType);
                    $("#deleteComplainPhoneNumber").val(value.NewPhoneNumber);
                    $("#deleteComplainRank").val(value.Rank);
                    $("#deleteComplainDescription").val(value.Description);

                });
            }
        });
    });


    $(document).on('click', '.editEntry', function () {
        var Complain_id = $(this).attr('complain_id').trim();

        var oldDate;
        $("div.selectStatus select").val("0");
        $("#aSapn2").text("Edit Complain");


        document.getElementById('resolveDiv').style.display = 'none';

        var myData = ({ "id": Complain_id });

        $.ajax({
            'async': false,
            type: "POST",
            url: '@Url.Action("GetSingleComplainData", "Telephone")',
            contentType: "application/json; charset=utf-8",
        data: JSON.stringify(myData),
        dataType: 'json',

        success: function (returnData) {



            $.each(returnData, function (index, value) {

                $("#ComplainId").val(value.ComplainId);
                $("#BANumber").val(value.BANumber);
                $("#Name").val(value.Name);
                $("#ComplainType").val(value.ComplainType);
                $("#NewPhoneNumber").val(value.NewPhoneNumber);
                $("#Rank").val(value.Rank);
                $("#Description").val(value.Description);
                oldDate = value.ComplainDate;
                var options = "";
                var selectedOption = "";
                for (var i = 0; i < value.ProblemTypes.length; i++) {
                    if (value.ComplainType == value.ProblemTypes[i].TypeValue) {
                        selectedOption = value.ProblemTypes[i].TypeId;
                        options += '<option value="' + value.ProblemTypes[i].TypeId + '" selected>' + value.ProblemTypes[i].TypeValue + '</option>';
                    }
                    else {
                        options += '<option value="' + value.ProblemTypes[i].TypeId + '">' + value.ProblemTypes[i].TypeValue + '</option>';
                    }
                }
                $("select#ComplainType").html(options);
                // $("select#ComplainType select").val(selectedOption);
            });



        }
        });

        document.getElementById('ResolvedDate').style.display = 'block';
        
        
        
        var endDate = new Date();

        var ex13 = $('#ResolvedDate');
     

        ex13.datetimepicker({
            controlType: 'select',
            oneLine: true,
            timeFormat: 'hh:mm tt',
            dateFormat: 'dd/mm/yy',
          
            maxDate: endDate
       
        }        );
        ex13.datetimepicker('option', 'minDate', new Date(oldDate));
        ex13.datetimepicker('setDate', (new Date()));
        




    });

    
    $('#ExportExcelButton').click(function() {

        var baNumber = $("#yadcf-filter--mytestDatatable-0 option:selected").text();
        var hourFilter = $("#yadcf-filter--mytestDatatable-6 option:selected").text();
        var name = $('#yadcf-filter--mytestDatatable-1').val();
        var phone = $('#yadcf-filter--mytestDatatable-3').val();
        var rank = $("#yadcf-filter--mytestDatatable-2 option:selected").text();
        var complainType = "";
        if ($("#yadcf-filter--mytestDatatable-5").val() != "-1") {
            complainType = $("#yadcf-filter--mytestDatatable-5 option:selected").text();
        }
        var fromDateRange = $("#yadcf-filter--mytestDatatable-from-date-4").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        var toDateRange = $("#yadcf-filter--mytestDatatable-to-date-4").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        var overAllSearch=$("#mytestDatatable_filter :input").val();
        
        window.location = "/Telephone/GetExcelFile?baNumber=" + baNumber + "&name=" + name + "&rank=" + rank + "&phone=" + phone + "&complainType=" + complainType + "&fromDateRange=" + fromDateRange + "&toDateRange=" + toDateRange + "&overAllSearch=" + overAllSearch + "&hourFilter=" + hourFilter+"&status=pending";
            });

    $('#Status').change(function () {

        if ($(this).val() == "1") {


            document.getElementById('resolveDiv').style.display = 'block';
          
            $("#resolveDiv > :visible");
          
            $("#aSapn2").text("Resolve Complain");

        } else {

            document.getElementById('resolveDiv').style.display = 'none';

            $("#aSapn2").text("Edit Complain");

        }
    });
    var tableWidth = $('#mytestDatatable').width() + 25;

    document.getElementById('table-container-div').style.width = "" + tableWidth + "px";
  
        //Make DateTime picker dropdown to work on a Modal//
    var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;

    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

    $confModal.on('hidden', function () {
        $.fn.modal.Constructor.prototype.enforceFocus = enforceModalFocusFn;
    });

    $confModal.modal({ backdrop: false });
        //Make DateTime picker dropdown to work on a Modal//
        
    });
</script>






